/*
 * Nome:untitled.css
 * Package: 
 * Autore:
 * Data:
 * Versione:
 * 
 * Modifiche:
 * +------+---------------+-----------+
 * | Data | Programmatore | Modifiche |
 * +------+---------------+-----------+
 * |      |               |           |
 */

html, body{
 margin:0; 
 padding:0;
 height:100%; 
 font-family: serif;
}
#header h1{
 margin:0.5em;
 text-align:center;
 color:#210B61;
 font-size:3em;
}
#header a{
 position: absolute;
 top:1em;
 right:1em;
}
#authentication{
 padding:0.1em;
 padding-left:1em;
 border:0.1em solid #B18904;
 background-color:#CEE3F6;
}

#sidebar{
 float:left;
 width:12%;
 height:78%;
 margin:0;
 padding:0;
 border-right:  0.1em solid #210B61;
}
#sidebar #callIP{
 margin: 2em 2em 1em 2em; 
}
#conference{
 margin: 1em 2.5em 1em 2.5em; 
}
#contacts{
 height:inherit;
 overflow:auto;
 margin:1em;
 padding:0em;
 border: 0.1em solid #B18904;
 list-style: none;
}
.contact{
 padding: 0 1em 0 1em;
 padding-left: 1em; 
 text-indent: -.7em;
 margin:0.5em;
 color:#0011dd;
}
.offline:before {
 content: "■ "; 
 color: #DC143C; 
}
.online:before {
 content: "■ ";
 color: #00FF00; 
}

#main{
 float:right;
 width:85%;
 height:78%;
}
#main #content{
 padding-top:1em;
 padding-bottom:1em;
}
#main #content button{
 margin:1em 1em 1em 0;
 padding:0.5em;
}
#main #content h2{
 display:inline;
}

#remotevid{
	width:55%;
}	

#sourcevid{

	width: 13%;
  position:relative;
  left:-13.5%;
  margin-bottom:0.2em;
}

#main #chat{
 height:inherit;
}
#chat #chatTemplate{
 height:95%;
 border-top:0.1em solid #B18904;
 margin-right:2em;
 padding:1em;
}

#chat ul{
 min-height:0em;
 height:inherit;
 overflow:auto;
 margin:1em;
 padding:0em;
 list-style: none;
}

#chat #sendMessage{
 background-color:#CEE3F6;
 margin: auto auto 0 auto;
  text-align:center;
}
h3{
 display:inline;
}

.to{
	background-color:#CEEFF6;
	width:inherit;
}
/*
#main #content{
 float:left;
 width: 40%;
 padding-top:2em;
}
#main  #chat{
 float:right;
 width:55%;
 
 border-left:0.1em solid #B18904;
}

#main #content button, #main #content #ip{
 display:block;
 margin:1em auto 0 3em;

}
#main #content h2{
	display:inline;
}

*/
/*
#functionView .function{
	margin:0.5em 0 2em 0;
}


#functionView button{
  padding:0.5em;
}




#main #chat button{
 padding:0.5em;
}
#main #chat{
 clear:both;
 margin-top:1em;
}


*/


