#header{
 background-color: #E8EBF8;
}

#header h1{
color: #0803A4;
background-color: #E8EBF8;
text-shadow: 3px 3px 3px #fff;
text-align:center;
padding-bottom: 7px;
}

#header a{
 position: absolute;
 top:1em;
 right:1em;
}

#authentication{
background-color: #E8EBF8;
border-bottom: 2px ridge #8999CC;
}

#authentication input{
  width: 90px;
 height: 17px;
}

#sidebar{
 border-right: 1px ridge #8999CC; 
 margin-top: 0.5em;
}

ul{
list-style:none;
}

#sidebar #contacts{
 background-color: #E8EBF8; 
 border: 2px ridge #8999CC; 
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
 border-right:none;
 margin-top: 0.5em;
 margin-bottom: 0.5em;
}

.offline:before {
 content: "■ "; 
 color: #DC143C; 
}
.online:before {
 content: "■ ";
 color: #00FF00; 
}

#authentication{
 padding-left:1em;
 margin-right:2em;
}

#authentication span{
 float: right;
 padding-right:2em;
}

#authentication span button{
margin-right:2em;
margin-top:2px;
}

h2{
font-style:18px;
text-align:center;
}

#status{
 font-size:15px;
}

.sent h3,  .received h3{
 font-size:18px;
 display: inline;
 margin-top: 5px;
 margin-bottom: 5px;
}

#content #functionsTemplate #dataContact{
 float:right;
}
#contactData{
 float:right;
}

#content #functionTemplate span{
  display: inline;
}

#content #callTemplate #remotevid{
 width:100%;
 height:100%;
 border:2px ridge #110560;
 }
 
 #content #callTemplate #sourcevid{
  width:25%;
 height:20%;
 float:right;
 margin-top: -10em;
 border:2px ridge #110560;
 }

#content #callTemplate span{
 float:right;
}


#content #functionsTemplate{
 padding:1em;
 margin-right:1em;
 border-bottom:0.1em ridge #210B61;
}

#statistics{
 float:right;
}

#main #chat{
 height:inherit;
}
#main #chat ul{
 height:50%;
 margin:0;
 margin-bottom:0.5em;
 padding:0.5em;
}

#main #chat li{
 height: 50%;
}

#chat #compose{
 margin: 0 auto 0 auto;
 text-align:center;
}