html, body{
 margin:0;
 padding:0;
 height:100%;
}
ul{
 list-style:none;
 height:inherit;
 overflow:auto;
}

#header{
 background-color: #E8EBF8;
}

#header h1{
 color: #0803A4;
 text-shadow: 3px 3px 3px #fff;
 text-align:center;
}
#header a{
 position: absolute;
 top:1em;
 right:1em;
}
.authentication{
 width:99%;
 border-bottom: 2px ridge #8999CC;
 padding:0.5em;
 text-align: right;
}
.authentication input{
 width: 9em;
 margin-right: 0.5em;
}

#sidebar{
 margin:0;
 padding:0;
 float:left;
 text-align:center;
 width:13%;
 height:80%;
}
#sidebar span button{
 max-width:100%;
 margin: 1em;
}
#sidebar #contacts{
 max-width:100%;
 margin-left:1em;
 margin-right:1em;
 min-height: 20px;
 text-align:left;
 padding: 0.5em;
 background-color: #f5f5f5;
 border: 1px solid #e3e3e3;
 border-radius: 4px;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.offline:before {
 content: "■ "; 
 color: #DC143C; 
}
.online:before {
 content: "■ ";
 color: #00FF00; 
}

#main{
 padding:0;
 margin:0;
 height:80%;
 width: 85%;
 float:right;
}

#main #content{
 max-width:98%;
 padding:0.5em;
}

#content .formIP, #content .conferenceForm{
 padding:3em;
}

#content h2{
 text-align:center;
}
#content #functionsTemplate{
 max-width:100%;
 padding-bottom:0.5em;
 border-bottom:0.1em ridge #210B61;
}
#content #functionsTemplate #dataContact{
 float:right;
}
#content .singola{
 float:left;
 width:65%; 
 border-right:0.1em ridge #210B61;
}
#content .singola #otherCaller video{
 max-height:80%;
 padding:0;
 border:1px ridge #110560;
}		
#content .conferenza #otherCaller{
 max-height:80%;
}

#content .conferenza #otherCaller video{
 display:inline;
 margin:0;
 padding:0;
}		
#content #callTemplate #sourcevid{
 position: absolute;
 top:0.3em;
 left:0.3em;
 width: 8em;
 border:2px ridge #110560;
}
#content #callTemplate div{
 text-align:center;
}

#callTemplate button{
  margin-top: 1em;
}

#main #chat{
 max-width:98%;
 height:inherit;
 max-height:100%;
 padding:0;
 margin:0;
}

#main #chat ul{
 margin:0;
 max-width:100%;
 background-color: #f5f5f5;
 height:85%;
 max-height:85%;
}
#chat #compose{
 padding-top:1em;
 text-align:center;
 max-height:10%;
}
#chat .sender{
 font-weight: bold;
}
#status{
 font-size:15px;
}
.sent h3,  .received h3{
 font-size:18px;
 display: inline;
}
.sent, .received {
 margin-top: 0;
 margin-bottom: 0;
}

#statistics{
 position: absolute;
 bottom:0.1em;
 right:0.3em;
}
