<!-- 
 * Nome: ChatTemplate.html
 * Package: Template
 * Autore: Furlan Valentino
 * Data: 2013/04/09
 * Versione: 1.0
 * 
 * Modifiche:
 * +--------+---------------+----------------------+
 * |  Data  | Programmatore | Modifiche            | 
 * +--------+---------------+----------------------+
 * |13/04/11|     FV        | + Modifiche grandezza| 
 * |        |               |   della chat         | 
 * |--------|---------------|----------------------| 
 * |13/04/09|     FV        | + Creazione documento| 
 * |_______________________________________________| 
 */
-->
<ul id='<% if(ip!='0'){ %>online<% }else{ %>offline<%}%>'></ul>
<% if(ip!='0'){ %>
  <div id='compose'>
    <textarea rows="4"></textarea>	
    <button id="Send">Invia Messaggio</button>
  </div>
<%}%>
