<!--
   Nome:untitled.html
   Package: 
   Autore:
   Data:
   Versione:
   
   Modifiche:
    __________________________________
   | Data | Programmatore | Modifiche |
   |______|_______________|___________|
   |      |               |           |
-->

<div id="chatTemplate">

	<ul id='<% if(ip!='0'){ %>online<% }else{ %>offline<%}%>'></ul>

	<% if(ip!='0'){ %>
		<div id="sendMessage">
			<textarea rows="3" cols="50"></textarea>	
			<button id="Send">Invia Messaggio</button>
		</div>
	<%}%>
</div>

