<!--
   Nome:untitled.html
   Package: 
   Autore:
   Data:
   Versione:
   
   Modifiche:
    __________________________________
   | Data | Programmatore | Modifiche |
   |______|_______________|___________|
   |      |               |           |
-->
<% if(typeof From !="undefined"){ %>
	<% if(From =="IP"){ %>
		<label for="ip">Inserisci l'indirizzo IP che vuoi contattare:</label>
		<input type="text" name="ip" id="ip" />
		<button id= "startChat">Inizia chat</button>  
		<button id="call">Chiama</button>
		<button id="video">Videochiama</button>
		<input type="checkbox" name="record" id="record" >Registra la chiamata
	<% }else if (From == "Conf") { %>
		<ul id="optionContacts">
	
		</ul>
	<% } else {%>
	  <div id="empty"></div>
	<% } %>
<% } else { %>
		<h2><%= username %></h2>
		<button id= "sendVideoText">Invia un videomessaggio</button> 
		<button id="call">Chiama</button>
		<button id="video">Videochiama</button>
		<input type="checkbox" name="record" id="record" >Registra la chiamata
<% } %>
