<!--
   Nome:untitled.html
   Package: 
   Autore:
   Data:
   Versione:
   
   Modifiche:
    __________________________________
   | Data | Programmatore | Modifiche |
   |______|_______________|___________|
   |      |               |           |
-->
<div id="functionsTemplate">
<% if(typeof From !="undefined"){ %>
	<% if(From =="IP"){ %>
		
		<label for="ip">Inserisci l'indirizzo IP che vuoi contattare:</label>
		<input type="text" name="ip" id="ip" />
		<button id= "startChat">Inizia chat</button>  
		<button id="call">Chiama</button>
		<button id="video">Videochiama</button>
		<input type="checkbox" name="record" id="record" >Registra la chiamata

	<% }else if (From == "Conf") { %>
		
		<ul id="optionContacts"></ul>

	<% } else {%>
				<div id="empty"></div>
	<% } %>
	
<% } else { %>
		<h2><%= username %></h2>
		<% if(IP=="0"){ %> (Offline) <% }else{%> (Online) <%}%>
		<button id='dataContact'>Dettagli contatto</button>
		<button id= "sendVideoText">Invia un videomessaggio</button> 
		<% if(IP != "0"){ %> 
			<button id="call">Chiama</button>
			<button id="video">Videochiama</button>
			<input type="checkbox" name="record" id="record" >Registra la chiamata
		<% } %>
<% } %>
</div>
