<!-- 
 * Nome: NotificationTemplate.html
 * Package: Template
 * Autore: Furlan Valentino
 * Data: 2013/04/10
 * Versione: 1.0
 * 
 * Modifiche:
 * +--------+---------------+----------------------+
 * |  Data  | Programmatore | Modifiche            | 
 * +--------+---------------+----------------------+
 * |13/04/10|     FV        | + Creazione documento| 
 * |_______________________________________________| 
 */
-->
	
<h2>Chiamata da <%= username %></h2>
<button id= "acceptCall">Accetta Chiamata</button>  
<button id="refuseCall">Rifiuta Chiama</button>
