<!-- 
 * Nome: UserDataTemplate.html
 * Package: Template
 * Autore: Furlan Valentino
 * Data: 2013/04/12
 * Versione: 1.0
 * 
 * Modifiche:
 * +--------+---------------+----------------------+
 * |  Data  | Programmatore | Modifiche            | 
 * +--------+---------------+----------------------+
 * |13/04/12|     FV        | + Creazione documento| 
 * |_______________________________________________| 
 */
-->
<h2><%= username %></h2>
<ul id ="userData">
  <li><label for="name">Nome </label><input type="text" id="name" name="name" value="<%= name %>" /></li>
  <li><label for="surname">Cognome </label><input type="text" id="surname" name="surname" value="<%= surname %>"/></li>
  <li><label for="password">Nuova Password </label><input type="password" id="password" name="password" /></li>
  <li><label for="password2">Conferma Password </label><input type="password" id="password2" name="password2" /></li>
  <li><label for="oldPassword">Password attuale</label><input type="password" id="oldPassword" name="oldPassword" /></li>
</ul>		
<button id='submitChange'>Conferma</button>	
<button id='reset'>Reset</button>
<button id='denyChange'>Annulla</button>	
