<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <title>NotificationView Test</title>
    <link rel="stylesheet" href="../resources/qunit.css" type="text/css" media="screen">
  </head>
  <body>
    <h1 id="qunit-header">QUnit/Sinon.JS Test</h1>
    <h2 id="qunit-banner"></h2>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
    <div id="qunit-fixture">
      <div id="header">
        <div id='authentication'></div>
      </div>
      
      <div id="sidebar"></div>
      <div id="main">
        <div id="content"></div>
        <div id="statistics"></div>
        <div id="chat"></div>
      </div>
    </div>
    
    <script type="text/javascript" src="../resources/require/require.js"></script>
    <script type="text/javascript" src="../resources/qunit.js"></script>
    <script type="text/javascript" src="../resources/sinon-1.7.1.js"></script>
    <script type="text/javascript" src="../resources/sinon-qunit-1.0.0.js"></script>
    
    <script type="text/javascript" src="NotificationViewTestConfig.js"></script>
    
  </body>
</html>

