<!-- 
 * Nome: CallTemplate.html
 * Package: Template
 * Autore: Furlan Valentino
 * Data: 2013/04/10
 * Versione: 1.0
 * 
 * Modifiche:
 * +--------+---------------+----------------------+
 * |  Data  | Programmatore | Modifiche            | 
 * +--------+---------------+----------------------+
 * |13/04/11|     FV        | + Aggiunto username  | 
 * |        |               |   del chiamato       | 
 * |--------|---------------|----------------------| 
 * |13/04/10|     FV        | + Creazione documento| 
 * |        |               | + Campi per login    | 
 * |_______________________________________________| 
 */
-->

<div id='callTemplate'>
  <% if(typeof username !='undefined'){ %>
    <h2><%= username %></h2>
  <% }%>
  <video id='sourcevid' autoplay></video>
  <button id='endCall'>Termina chiamata</button>
</div>
