<!--
 * Nome: FunctionsTemplate.html
 * Package: Template
 * Autore: Furlan Valentino
 * Data: 2013/04/07
 * Versione: 1.0
 *
 * Modifiche:
 * +--------+---------------+----------------------+
 * |  Data  | Programmatore | Modifiche            |
 * +--------+---------------+----------------------+
 * |13/04/08|     FV        | + Aggiunta pulsante  |
 * |        |               |   dettagli contatto  |
 * |--------|---------------|----------------------|
 * |13/04/07|     FV        | + Creazione documento|
 * |_______________________________________________|
 */
-->

<div class="row-fluid" id='functionsTemplate'>
  <% if(typeof From !='undefined'){ %>
    <% if(From =='IP'){ %>

        <label for="ip">Inserisci l'indirizzo IP che vuoi contattare:</label>
       <span> <input type="text" name="ip" id="ip" /> </span>
       <div class="form-inline">
         <button class='btn btn-small' id= "startChat">Inizia chat</button>
         <button class='btn btn-small' id="call">Chiama</button>
         <button class='btn btn-small' id="video">Videochiama</button>
         <br/>
         <input class="checkbox" type="checkbox" name="record" id="record" ><label for="record" class="checkbox"> Registra la chiamata</label>
       </div>
    <% }else if (From == "Conf") { %>
      <ul id="optionContacts"></ul>
      <button class='btn btn-small' id= "startConference">Chiama contatti</button>
    <% } else {%>
      <div id="empty"></div>
    <% } %>
  <% } else { %>
    <h2> <%= username %>
    	<span id="status"> <% if(IP=="0"){ %> (Offline) <% }else{%> (Online) <%}%> </p>
    </h2>
      <div class="form-inline">
        <button class='btn btn-small' id='dataContact'>Dettagli contatto</button>
    	<button class='btn btn-small' id= "sendVideoText">Invia un videomessaggio</button>
        <% if(IP != "0"){ %>
           <button class='btn btn-small' id="call">Chiama</button>
           <button class='btn btn-small' id="video">Videochiama</button>
           <br/>
    	   <input class="checkbox" type="checkbox" name="record" id="record" ><label for="record" class="checkbox"> Registra la chiamata</label>
        <% } %>
      </div>
  <% } %>
</div>
