<% if(typeof From !='undefined'){ %>
  <% if(From =='IP'){ %>
    <div class='formIP'>
      <label for="ip">Inserisci l'indirizzo IP che vuoi contattare:</label>
      <span> <input type="text" name="ip" id="ip" /> </span>
      <div class="form-inline">
        <button class='btn btn-small' id= "startChat">Inizia chat</button>
        <button class='btn btn-small' id="call">Chiama</button>
        <button class='btn btn-small' id="video">Videochiama</button>
      </div>
    </div>
  <% }else if (From == "Conf") { %>
		<div class='conferenceForm'>
      <ul id="optionContacts"></ul>
      <button class='btn btn-small' id= "startConference">Chiama contatti</button>
    </div>  
    <% } else {%>
      <div id="empty"></div>
    <% } %>
  <% } else { %>
		<div class="row-fluid" id='functionsTemplate'>
    <h2> <%= username %>
    	<span id="status"> <% if(IP=="0"){ %> (Offline) <% }else{%> (Online) <%}%> </p>
    </h2>
      <div class="form-inline">
        <button class='btn btn-small' id='dataContact'>Dettagli contatto</button>
    	<button class='btn btn-small' id= "sendVideoText">Invia un videomessaggio</button>
        <% if(IP != "0"){ %>
           <button class='btn btn-small' id="call">Chiama</button>
           <button class='btn btn-small' id="video">Videochiama</button>
        <% } %>
        </div>
      </div>
  <% } %>

