<!--
 * Nome: FunctionsTemplate.html
 * Package: Template
 * Autore: Furlan Valentino
 * Data: 2013/04/07
 * Versione: 1.0
 *
 * Modifiche:
 * +--------+---------------+----------------------+
 * |  Data  | Programmatore | Modifiche            |
 * +--------+---------------+----------------------+
 * |13/04/08|     FV        | + Aggiunta pulsante  |
 * |        |               |   dettagli contatto  |
 * |--------|---------------|----------------------|
 * |13/04/07|     FV        | + Creazione documento|
 * |_______________________________________________|
 */
-->

<div id='functionsTemplate'>
  <% if(typeof From !='undefined'){ %>
    <% if(From =='IP'){ %>
      <label for="ip">Inserisci l'indirizzo IP che vuoi contattare:</label>
        <input type="text" name="ip" id="ip" />
      <button id= "startChat">Inizia chat</button>
      <button id="call">Chiama</button>
      <button id="video">Videochiama</button>
      <input type="checkbox" name="record" id="record" >Registra la chiamata
    <% }else if (From == "Conf") { %>
      <ul id="optionContacts"></ul>
      <button id= "startConference">Chiama contatti</button>
    <% } else {%>
      <div id="empty"></div>
    <% } %>
  <% } else { %>
    <h2><%= username %></h2>
    <% if(IP=="0"){ %> (Offline) <% }else{%> (Online) <%}%>
    <button id='dataContact'>Dettagli contatto</button>
    <button id= "sendVideoText">Invia un videomessaggio</button>
    <% if(IP != "0"){ %>
      <button id="call">Chiama</button>
      <button id="video">Videochiama</button>
      <input type="checkbox" name="record" id="record" >Registra la chiamata
    <% } %>
  <% } %>
</div>
