<!--
 * Nome: NotificationTemplate.html
 * Package: Template
 * Autore: Furlan Valentino
 * Data: 2013/04/10
 * Versione: 1.0
 *
 * Modifiche:
 * +--------+---------------+----------------------+
 * |  Data  | Programmatore | Modifiche            |
 * +--------+---------------+----------------------+
 * |13/04/10|     FV        | + Creazione documento|
 * |_______________________________________________|
 */
-->
   <div id="notificationModal" class="modal hide fade">
     <div class="modal-header">
       <h2>Chiamata da <%= username %></h2>
     </div>
     <div class="modal-footer">
         <button class='btn btn-default' id= "acceptCall">Accetta Chiamata</button>
         <button class="btn btn-default btn-inverse" id="refuseCall">Rifiuta Chiamata</button>
     </div>
</div>