<!--
 * Nome: SideTemplate.html
 * Package: Template
 * Autore: Furlan Valentino
 * Data: 2013/04/06
 * Versione: 1.0
 *
 * Modifiche:
 * +--------+---------------+----------------------+
 * |  Data  | Programmatore | Modifiche            |
 * +--------+---------------+----------------------+
 * |13/04/06|     FV        | + Creazione documento|
 * |_______________________________________________|
 */
-->
<span> <button class="btn btn-mini" id="callIP">Chiama un indirizzo IP</button> </span>
<% if(logged){ %>
  <ul class="nav nav-list" id="contacts"></ul>

 <span><button class="btn btn-small" id="conference">Video conferenza</button> </span>
<% } %>
