<!--
 * Nome: UserDataTemplate.html
 * Package: Template
 * Autore: Furlan Valentino
 * Data: 2013/04/12
 * Versione: 1.0
 *
 * Modifiche:
 * +--------+---------------+----------------------+
 * |  Data  | Programmatore | Modifiche            |
 * +--------+---------------+----------------------+
 * |13/04/12|     FV        | + Creazione documento|
 * |_______________________________________________|
 */
-->
<div class="row-fluid">
 <h2><%= username %></h2>
 <ul class="form-horizontal">
   <li><label class="control-label" for="name">Nome </label><div class="controls"><input type="text" id="name" name="name" value="<%= name %>" /></div></li>
   <li><label class="control-label" for="surname">Cognome </label><div class="controls"><input type="text" id="surname" name="surname" value="<%= surname %>"/></div></li>
   <li><label class="control-label" for="password">Nuova Password </label><div class="controls"><input type="password" id="password" name="password" /></div></li>
   <li><label class="control-label" for="password2">Conferma Password </label><div class="controls"><input type="password" id="password2" name="password2" /></div></li>
   <li><label class="control-label" for="oldPassword">Password attuale</label><div class="controls"><input type="password" id="oldPassword" name="oldPassword" /></div></li>
 </ul>
   <button id='submitChange'>Conferma</button>
   <button id='reset'>Reset</button>
   <button id='denyChange'>Annulla</button>
</div>